
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

:root {
    --white: rgb(255 255 255);
    --denim-blue: rgb(12, 21, 56);
    --baby-blue: rgb(180, 239, 245);
    --black: rgb(0, 0, 0);
    --light-grey: rgb(206, 208, 215);
    --dark-grey: rgba(41, 45, 50, 1);
  
}
  
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
.container {
    font-family: "Poppins", sans-serif;
    background: var(--denim-blue);
    height: auto;
    width: 1440px;
}
  
button {
    font-family: "Poppins", sans-serif;
}
  
#logo {
    height: 159px;
}
  
.navbar {
    display: flex;
}
  
 .navbar ul {
    list-style: none;
}
  
.navbar a {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
}
  
.navigation {
    display: flex;
    margin: 40px 0 4px 80px;
}
  
.primary-nav {
    position: relative;
    width: 800px;
    height: 55px;
    background: var(--white);
    border-radius: 5px;
}
  
.nav-links {
    display: flex;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
}
  
.nav-links :hover {
    background-color: rgba(180, 239, 245, 1);
    color: var(--black);
    cursor: pointer;
    line-height: 35px;
}
  
.home-nav-link, .other-nav-link {
    width: 130px;
    height: 45px;
    margin: 5px 20px 5px 5px;
    text-align: center;
    padding: 10px 0;
}
  
  .register-login {
    position: absolute;
    width: 285px;
    height: 55px;
    background: var(--white);
    margin-left: 880px;
    border-radius: 5px;
}
  
#sign-up {
    position: absolute;
    width: 88px;
    height: 25px;
    margin: 15px 56px 15px 32px;
    padding: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;    
}
  
#sign-up:hover {
    background-color: rgba(180, 239, 245, 1);
    color: var(--black);
    cursor: pointer;
    height: 35px;
}
  
#sign-in {
    position: absolute;
    width: 83px;
    height: 25px;
    margin: 15px 31px 15px 171px;
    padding: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
}
  
#sign-in:hover {
    background-color: rgba(180, 239, 245, 1);
    color: var(--black);
    cursor: pointer;
    height: 35px;
}

  /* WHY THEY SHOULD CHOOSE US */

.why-choose-us {
    background: linear-gradient(to right, rgba(180, 239, 245, 1), rgba(132, 175, 185, 1), rgba(81, 107, 121, 1), rgba(43, 56, 73, 1), rgba(18, 23, 42, 1));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 95px 140px;
    gap: 10px;  
    width: 1379px;
    height: 694px;
    margin: 60px 31px 51px 30px;
    border-radius: 40px;
}

#why-choose-us-h2 {
    width: 430px;
    height: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 105px 799px 489px 150px;
}

.your-fitness-companion {
    background: linear-gradient(to right, rgba(180, 239, 245, 1), rgba(132, 175, 185, 1), rgba(81, 107, 121, 1), rgba(43, 56, 73, 1), rgba(18, 23, 42, 1));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;  
    width: 1375px;
    height: 699px;
    padding: 79px, 35px, 146px, 35px;
    margin: 0 32px 51px 33px;
    border-radius: 40px;
}

#your-fitness-companion-h2 {
    padding: 9px 35px 0px 146px;
    margin: 79px 35px 0px 35px;
    width: 1305px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}

.affordable-cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 34px;
    gap: 10px;
    width: 1381px;
    height: 540px;
    margin-left: 30px;
    background-color: rgba(180, 239, 245, 1);
    border-radius: 40px;
}

#affordable-cost-h2 {
    margin: 43px 86px 437px 768px;
    width: 527px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}

.affordable-cost-min {
    position: absolute;
    margin: 176px 806px 23px 54px;
    width: 525px;
    height: 316px;
    background-color: rgba(217, 217, 217, 1);
}

.live-session-instructors {
    background: linear-gradient(to right, rgba(180, 239, 245, 1), rgba(132, 175, 185, 1), rgba(81, 107, 121, 1), rgba(43, 56, 73, 1), rgba(18, 23, 42, 1));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 82px;
    gap: 10px;  
    width: 1379px;
    height: 742px;
    margin: 60px 31px 51px 30px;
    border-radius: 40px;
}

#live-session-instructors-h2 {
    width: 853px;
    height: 89px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 89px;
    width: 853px;
    margin: 22px 379px 0 94px;
    letter-spacing: 5px;

    
}

.live-session-instructors-min {
    width: 525px;
    height: 316px;
    margin: 264px 107px 162px 694px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 16px;
    order: 1;
    position: absolute;
}