@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 800;
    padding-top: 2%;
}

p {
    font-weight: 700;
    padding-top: 5%;
    padding-bottom: 3%;
}

.form-container {    
    background: rgba(255, 255, 255, 0.82);
    border: 1px solid #AEB1BD;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 20px;
    width: 800px;
    height: 600px;
}

.form-container .form-container-desc{
    text-align: center;
}

form div{
    padding: 5px 0;
}

form label{
    color: #fff;
    display: block;
    padding-bottom: 3px;
    color: #858A9B;

}

form input:not([type='checkbox']) {
    border: 1px solid #D9D9D9;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
    color: #858A9B;
}
#fullname, #emailAddress, #password {width: 70%; 
    position: relative; left: 100px;}

.checkbox_label{
    display: inline;
}

.terms{position: relative; left: 100px;
    font-weight: 600;
    padding-bottom: 5px;
}

.remember{position: relative; bottom: 27px;
     position: relative; left: 510px;
     padding-bottom: 3px;
    }



form input:focus{
    outline: 1px solid cyan;
}
.signup{
    width: 45%; 
    height: 40px;
    border: 1px #a5dfe5;
    border-radius: 5px;
    position: relative; left: 230px;
    background-color: #B4EFF5;
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

.sign{text-decoration: none; 
    color: black; 
    position: relative; left: 150px;
    text-align: center;
    font-weight: 400;}

.a{text-decoration: none; 
    color: black;}

.cta{position: relative; left: 270px; 
    position: relative; top: 20px;
    font-weight: lighter;
    padding-top: 3px;
}

    